{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="col-lg-10">
            <div class="row row-cols-md-2 g-3">
{% for task in tasks %}
      <div class="col-lg-5">
    <div class="card h-100 ">
      <div class="card-body">
        <a href="{% url 'single-task' task.id %}"> <h5 class="card-title">{{ task.title}}</h5></a>
        <p class="card-text">{{ task.description | truncatewords:10  }}</p>
      </div>

        {% if task.is_complete %}
            <div class="card-footer bg-success text-white">

        {% else %}
            <div class="card-footer bg-danger text-white">

        {% endif %}

        <small class="">Due Date: {{ task.due_date }}</small>
       </div>

    </div>
  </div>
{% endfor %}
</div>
</div>
<div class="col-lg-2">
<p>Filters</p>
    <ul>
        <li><a href="{% url 'all-task' %}?filter_text=due_date">Due Date</a></li>
        <li><a href="{% url 'all-task' %}?filter_text=created_at">Creation Date</a></li>
        <li><a href="{% url 'all-task' %}?filter_text=priority">Priority</a></li>
        <li><a href="{% url 'all-task' %}?filter_text=is_complete">Completed</a></li>
    </ul>
</div>
</div>


</div>


{% endblock content %}