{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for task in tasks %}
      <div class="col">
    <div class="card h-100 ">
      <div class="card-body">
        <a href="{% url 'single-task' task.id %}"> <h5 class="card-title">{{ task.title}}</h5></a>
        <p class="card-text">{{ task.description | truncatewords:10  }}</p>
      </div>

        {% if task.is_complete %}
            <div class="card-footer bg-success text-white">

        {% else %}
            <div class="card-footer bg-danger text-white">

        {% endif %}

        <small class="">Due Date: {{ task.due_date }}</small>
       </div>

    </div>
  </div>
{% endfor %}
</div>
</div>


{% endblock content %}